<h3>{{ (this.ped && this.ped.id) ? 'Editando pedido' : 'Cadastrando pedido'}}</h3>

<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && salvar()" novalidate>
        <input type="hidden" placeholder="Id do cliente" formControlName="idCliente" required autocomplete="off">
    <div>
        <button mat-raised-button [disabled]="!formGroup.valid">Salvar</button>
        @if(this.ped && this.ped.id){
            <button mat-raised-button (click)="excluir(this.ped.id)"  type="button">Excluir</button>
        }
        <button mat-raised-button routerLink="/pedidos" type="button">Voltar</button>
    </div>
</form>
<br>

<h2>Clientes</h2>
<h4>Selecionado: {{this.cliente?.nome}}</h4>
<section>
@if(clientes$ | async; as clientes){
    @for (cliente of clientes; track cliente.id) {
        <div class="clientes" [ngClass]="{ 'ativo': cliente.id === this.cliente?.id }">
            <b><label>Nome: {{cliente.nome}} </label></b><br>
            <label>Email: {{cliente.email}} </label><br>
            <button mat-raised-button (click)="escolher(cliente)">{{cliente.id === this.cliente?.id ?'Selecionado' : 'Selecionar'}}</button>
        </div>
    } @empty {
        <p>Sem Clientes cadastrados</p>
    }
} @else {
    <p>Carregando...</p>
}
</section>
